{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block body %}
  <tr>
    <td>Tipo Doc</td>
    <td>Documento</td>
    <td>Razón Social</td>
    <td>Cliente/Proveedor</td>
    <td>Descuento</td>
    <td>Dirección</td>
    <td>Teléfonos</td>
    <td>Activo</td>
 </tr>
 {% for terceros in Terceros %}
     <tr>
        <td> {{terceros.txtipdoc}} </td>
        <td> {{terceros.txdocumento}} </td>
        <td> {{terceros.txnomtercero}} </td>
        <td> {{terceros.intipoter}} </td>
        <td> {{terceros.txdescuento}} {{terceros.txdiasdescuento}} {{terceros.intipodesc}} </td>
        <td> {{terceros.txdireccion}} </td>
        <td> {{terceros.txtelefonos}} </td>
        <td> {{terceros.inactivo}} </td>
     </tr>
    {% endfor %}    
{% endblock %}
    