{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }} 
{% endblock %}
    
{% block sitecontent %}
    <table>
        <tr>
            <td><li><a href=" {{ path ('informes_kardex') }} ">Kardex</a></li></td>
            <td><li><a href=" {{ path ('informes_mvtoterceros') }} ">Movimiento por Terceros</a></li></td>
            <td><li><a href=" {{ path('informes_histprecios') }} ">Historico Precios (Venta/Compra)</a></li></td>
            <!--<td><li><a href="{# {{ path('informes_mvtomeses') }} #}">Mov. Meses</a></li></td>-->
            <!--<td><li><a href="{# {{ path('informes_rotacion') }} #}">Rotación mensual</a></li></td>-->
            <!--<td><li><a href="{# {{ path('informes_rentabilidad') }} #}">Rentabilidad productos</a></li>-->
            <!--<td><li><a href="{# {{ path('informes_vendedores') }} #}">Ventas por vendedor</a></li>-->
        </tr>
    </table>    
{% endblock %}

