{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }} 
{% endblock %}
    
{% block sitecontent %}
        <div id="menubar"> 
            <ul id="menu">
                <li><a href=" {{ path ('informes_kardex') }} ">Kardex</a></li>
                <li><a href=" {{ path ('informes_mvtoterceros') }} ">Movimiento por Terceros</a></li>
                <!--<li><a href="{# {{ path('informes_mvtomeses') }} #}">Mov. Meses</a></li>-->
                <!--<li><a href="{# {{ path('informes_mvtoproductos') }} #}">Mov. Productos</a></li>-->
                <!--<li><a href="{# {{ path('informes_rotacion') }} #}">Rotación mensual</a></li>-->
                <!--<li><a href="{# {{ path('informes_rentabilidad') }} #}">Rentabilidad productos</a></li>-->
                <li><a href=" {{ path('informes_histprecios') }} ">Historico Precios (Venta/Compra)</a></li>
            </ul>
        </div>    
{% endblock %}

