{% extends "InventarioFrontBundle:Informes:index.html.twig" %}

{% block head %}
    {{ parent() }}     
    <script type="text/javascript">
        $(document).ready(function(){

        
            $.getJSON( "{{path('terceros_listTerGrid', {'tipo': '0'})}}", function( data ) {
                var sel1 = document.getElementById('movterceros');
                var i = 0;
                //alert(i);
                $.each( data, function() {
                    var opt = document.createElement('option');
                    opt.innerHTML = data[i].txNomTercero;
                    opt.value = data[i].idTercero;
                    sel1.appendChild(opt);
                    i++; 
                });
            });

            var now = new Date();
            var month = (now.getMonth()+1);               
            var fin = now.getDate();
            if(month < 10) 
                month = "0" + month;
            fin = 31;
            if(month == 2) 
                fin = "28";
            if((month == 4) | (month == 7) | (month == 9) | (month == 11))
                fin = "30";
            var fecha = now.getFullYear() + '-' + month + '-01';
            $('#desde').val(fecha);
            fecha = now.getFullYear() + '-' + month + '-' + fin;
            $('#hasta').val(fecha);
            
        jQuery("#terceros").jqGrid({        
                    url:"{{ path('informes_mvtotercerosData', {'ter': 'ALL', 'desde': '2014-01-01', 'hasta': '2025-01-01'}) }}",
                    datatype: "json",
                    width:'90%',
                    heigth:'400px',
                    colNames:['Tercero','Ref.','Producto','Tip. Dc.','Num. Doc.','Fecha','Entrada','Salida','Valor Uni.','Total','IdDet','IdMasD'],
                    colModel:[
                            {name:'txNomTercero',index:'txNomTercero',search:false,sortable:false,width:"250px"},
                            {name:'txRefInterna',index:'txRefInterna',search:false,sortable:false,width:"100px"},
                            {name:'txNomProducto',index:'txNomProducto',search:false,sortable:false,width:"250px"},
                            {name:'txTipDoc',index:'txTipDoc',search:false,sortable:false,width:"20px"},
                            {name:'txNumDoc',index:'txNumDoc',search:false,sortable:false},
                            {name:'feFecha',index:'feFecha',formatter:'date',search:false,sortable:false,width:"80px"},
                            {name:'inEntrada',index:'inEntrada', formatter: 'integer',search:false,width:"80px",
                                align: 'right', summaryTpl: '<i>{0}</i>',summaryType: 'sum',sortable:false},
                            {name:'inSalida',index:'inSalida', formatter: 'integer',search:false,width:"80px",
                                align: 'right', summaryTpl: '<i>{0}</i>',summaryType: 'sum',sortable:false},
                            {name:'dbValUnitario',index:'dbValUnitario',search:false,sortable:false,formatter:'currency', 
                                    formatoptions:{defaultValue:0,decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "},
                                    align: 'right'},
                            {name:'dbValTotal',index:'dbValTotal',search:false,sortable:false,formatter:'currency', 
                                    formatoptions:{defaultValue:0,decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "},
                                    align: 'right', summaryTpl: '<i>{0}</i>',summaryType: 'sum'},
                            {name:'idDetDocumentos',index:'idDetDocumentos',search:false,sortable:false},
                            {name:'inidMasDocumento',index:'inidMasDocumento',search:false,sortable:false},
                    ],
                    rowNum:1000,
                    rowList:[1000,2000,3000],
                    pager: '#paginacion',
                    sortname: ['txNomTercero','feFecha'],
                    sortorder: 'asc',
                    viewrecords: true,
                    caption: 'MOVIMIENTO DE TERCEROS',
                    grouping:true, 
                    footerrow: true,
                    groupingView : { 
                        groupField : ['txNomTercero'], 
                        groupSummary: [true],
                        groupColumnShow: [false],
                        groupText: ['<b>{0}</b>'],
                        groupDataSorted: true
                    },
            });
            jQuery("#terceros").hideCol('txNomTercero');
            //jQuery("#terceros").hideCol('txRefInterna');
            jQuery("#terceros").hideCol('idDetDocumentos');
            jQuery("#terceros").hideCol('inidMasDocumento');
            jQuery("#terceros").hideCol('Productos_idProducto');

            //jQuery("#terceros").jqGrid('filterToolbar', { searchOnEnter: false, enableClear: false, ignoreCase: false });
            //jQuery("#terceros").jqGrid('navGrid',"#paginacion",{reloadAfterSubmit:true});
            //jQuery("#terceros").jqGrid('inlineNav',"#paginacion");
            
       }); 

        function recargaGrid(value){
          //alert(value);
          var newUrl = "{{ path('informes_mvtotercerosData', {'ter': 'ALL','desde':'FDESDE','hasta':'FHASTA'}) }}";
          newUrl = newUrl.replace('ALL', $('#movterceros').val());
          newUrl = newUrl.replace('FDESDE', $('#desde').val());
          newUrl = newUrl.replace('FHASTA', $('#hasta').val());
          //alert(newUrl);

          $("#terceros").setGridParam({url: newUrl, page: 1}).trigger('reloadGrid');
          jQuery("#terceros").hideCol('txNomTercero');
        };
    </script>
{% endblock %}

{% block sitecontent %} 
  {{ parent() }}     
        <h1>Movimiento por terceros</h1>
        <div>
            <table> 
                <tr>
                    <td><label>Filtrar</label></td>
                    <td><select id="movterceros" onchange="recargaGrid(this.value)">
                    <option value="ALL">Seleccione un tercero </option></select> </td>
                </tr>
            </table>    
            <table> 
                <tr>
                    <td><label>Desde</label></td>
                    <td><input id="desde" type=date  onchange="recargaGrid(this.value)"></td>
                    <td><label>Hasta</label></td>
                    <td><input id="hasta" type=date  onchange="recargaGrid(this.value)"></td>
                </tr>
            </table>    
        </div>     
        <table id="terceros"  </table>
        <div id="paginacion" ></div>
{% endblock %}

