{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block sitecontent -%}

   <div id="sitecontent"> 
        <div id="menubar"> 
            <ul id="menu">
                <li><a href="{{ path('clasifproductos_new') }}">Crear nueva clasificación</a></li>
            </ul>
        </div>    
    </div>    

    <h1>Clases de productos</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Padre</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('clasifproductos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.txdescripcion }}</td>
                <td>{{ "PADRE" }}</td>
                <td>{{ entity.intipo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('clasifproductos_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('clasifproductos_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
