{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block body -%}

   <div id="sitecontent"> 
        <div id="menubar"> 
            <ul id="menu">
              <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
              <li class="selected"><a href="{{ path('terceros') }}">Lista de terceros</a></li>
              <li><a href="{{ path('terceros') }}">Crear tercero</a></li>
            </ul>
        </div>    
    </div>    

    <h1>Detlistaprecios list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dbvalor</th>
                <th>Tximagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('detlistaprecios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.dbvalor }}</td>
                <td>{{ entity.tximagen }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('detlistaprecios_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('detlistaprecios_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('detlistaprecios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
