{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/inventario/js/index.js') }}" ></script>
{% endblock %}

{% block sitecontent -%}

    <h1>Terceros</h1>
    <ul>
        <li>
            <a href="{{ path('terceros_new') }}">
                Crear Tercero
            </a>
        </li>
    </ul>

    <table id="listado_terceros">
        <thead>
            <tr>
                <th>Id</th>
                <th>Txtipdoc</th>
                <th>Txdocumento</th>
                <th>Txnomtercero</th>
                <th>Intipoter</th>
                <th>Txdescuento</th>
                <th>Txdiasdescuento</th>
                <th>Txdireccion</th>
                <th>Txtelefonos</th>
                <th>Inactivo</th>
                <th>Intipodesc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('terceros_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.txtipdoc }}</td>
                <td>{{ entity.txdocumento }}</td>
                <td>{{ entity.txnomtercero }}</td>
                <td>{{ entity.intipoter }}</td>
                <td>{{ entity.txdescuento }}</td>
                <td>{{ entity.txdiasdescuento }}</td>
                <td>{{ entity.txdireccion }}</td>
                <td>{{ entity.txtelefonos }}</td>
                <td>{{ entity.inactivo }}</td>
                <td>{{ entity.intipodesc }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('terceros_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('terceros_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id='pagerTerceros' ></div>
    <div id='resultado' ></div>
    {% endblock %}
