{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block sitecontent -%}

            
    <h1>Terceros</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Txtipdoc</th>
                <td>{{ entity.txtipdoc }}</td>
            </tr>
            <tr>
                <th>Txdocumento</th>
                <td>{{ entity.txdocumento }}</td>
            </tr>
            <tr>
                <th>Txnomtercero</th>
                <td>{{ entity.txnomtercero }}</td>
            </tr>
            <tr>
                <th>Intipoter</th>
                <td>{{ entity.intipoter }}</td>
            </tr>
            <tr>
                <th>Txdescuento</th>
                <td>{{ entity.txdescuento }}</td>
            </tr>
            <tr>
                <th>Txdiasdescuento</th>
                <td>{{ entity.txdiasdescuento }}</td>
            </tr>
            <tr>
                <th>Txdireccion</th>
                <td>{{ entity.txdireccion }}</td>
            </tr>
            <tr>
                <th>Txtelefonos</th>
                <td>{{ entity.txtelefonos }}</td>
            </tr>
            <tr>
                <th>Inactivo</th>
                <td>{{ entity.inactivo }}</td>
            </tr>
            <tr>
                <th>Intipodesc</th>
                <td>{{ entity.intipodesc }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('terceros') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('terceros_edit', { 'id': entity.id }) }}">
            Modificar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
