{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }}     
    <script type="text/javascript">
        $(document).ready(function(){
            jQuery("#masdoc").jqGrid({        
                    url:"{{ path('masdocumentos_listMasDocGrid') }}",
                    datatype: "json",
                    width:'40%',
                    colNames:['Id','Nombre','Act./Inac.'],
                    colModel:[
                            {name:'id',index:'id', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'txnomlista',index:'txnomlista',search:true,editable:true,editoptions:{size:30}},
                            {name:'txactiva',index:'txactiva',search:true,sortable:false,editable: true, edittype:'select', formatter:'select', editoptions:{value: "ACTIVA:ACTIVA;ACTIVA:INACTIVA"},}		
                    ],
                    rowNum:10,
                    rowList:[10,20,30],
                    pager: '#paginacion',
                    sortname: 'id',
                    viewrecords: true,
                    sortorder: "asc",
                    caption:"Documentos",
                    editurl:"{{ path('masdocumentos_guardaMasDocGrid') }}",
                    onSelectRow: function(id) {
                        var vid=id;
                        var vurl="{{ path('masdocumentos_listDetDocGrid', {'ptipdoc': '1','piddoc': '1'}) }}";
                        //alert (vurl);
                        var rowData = jQuery(this).getRowData(id); 
                        var val= rowData['txnomlista'];//replace name with you column
                        //alert (val);
                        
                        if (vid != null){
                            vurl = vurl.replace('1', vid);
                        }
                            
                        if(vid == null) {
                            if(jQuery("#detdoc").jqGrid('getGridParam','records') >0 )
                            {
                                jQuery("#detdoc").jqGrid('setGridParam',{url:vurl,page:1});
                                jQuery("#detdoc").jqGrid('setCaption',"Detalle de documento: "+vid+" - "+val)
                                .trigger('reloadGrid');
                            } 
                        } else { 
                            jQuery("#detdoc").jqGrid('setGridParam',{url:vurl,page:1});
                            jQuery("#detdoc").jqGrid('setCaption',"Detalle de documento:  "+vid+" - "+val)
                            .trigger('reloadGrid');			
                        }
                    },
            });
            jQuery("#masdoc").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
            jQuery("#masdoc").jqGrid('navGrid',"#paginacion",{add: false,edit:false,del:false,search:false});
            jQuery("#masdoc").jqGrid('inlineNav',"#paginacion");

            //DETALLE
            jQuery("#detdoc").jqGrid({        
                        var vurl="{{ path('masdocumentos_listDetDocGrid', {'ptipdoc': '1','piddoc': '1'}) }}";
                    url:"{{ path('masdocumentos_listDetDocGrid', {'ptipdoc': '1','piddoc': '1'}) }}",
                    datatype: "json",
                    width:'800px',
                    colNames:['Lista','Id','Id Producto', 'Ref. Producto','Producto','Precio'],
                    colModel:[
                            {name:'idlista',index:'idlista', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'id',index:'id', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'txrefinterna',index:'txrefinterna',editable:true,search:true,width:"100px"},
                            {name:'txnomproducto',index:'txnomproducto',editable:true,search:true,width:"400px"},
                            {name:'idproducto',index:'idproducto',editable:true,search:true},
                            {name:'dbvalor',index:'dbvalor',editable:true,search:true,width:"200px", formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                    ],
                    rowNum:1000,
                    rowList:[1000,2000,3000],
                    pager: '#pagered',
                    sortname: 'id',
                    viewrecords: true,
                    sortorder: "asc",
                    caption:"Detalle de documento: 1",//,
                //editurl:"someurl.php"
            });
            jQuery("#detdoc").hideCol('iddoc');
            jQuery("#detdoc").hideCol('id');
            jQuery("#detdoc").hideCol('idproducto');

            jQuery("#detdoc").jqGrid('navGrid',"#pagered",{add: false,edit:false,del:false,search:false});
            jQuery("#detdoc").jqGrid('inlineNav',"#pagered");

            jQuery("#detdoc").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
            $("#bedata").click(function(){
                    jQuery("#detdoc").jqGrid('editGridRow',"new",{width: 800,height:200,reloadAfterSubmit:false}).trigger('reloadGrid');
            });
        });
        
    </script>
{% endblock %}

{% block main %}

  {{ parent() }}     
  {% block sitecontent %}
        <h1>Documentos</h1>
        <table id="CONTENEDOR" width="100%">
            <tr id="Fila" width="100%">
                <td id="C1"width="40%">
                    <table id="masdoc" ></table>
                    <div id="paginacion" ></div>
                </td>
                <td id="C1" width="60%">
                    <table id="detdoc" ></table>
                    <div id="pagered" ></div>
                </td>
            </tr>
        </table>    
  {% endblock %}
{% endblock %}

