{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }}     
    <script type="text/javascript">

        $(document).ready(function(){
            jQuery("#masdoc").jqGrid({        
                    url:"{{ path('masdocumentos_listMasDocGrid') }}",
                    datatype: "json",
                    width:'400px',
                    colNames:['Id','Tipo Doc.','Num. Doc.', 'Tercero', 'Val. Neto', 'Val IVA.', 'Val. Total', 'Cond. Pago', 'Fecha', 'Vencimiento', 'Observaciones', 'Vendedor' ],
                    colModel:[
                            {name:'id',index:'id', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'txnomdoc',index:'txnomdoc',search:true,editable:true,edittype:"select",editoptions:{dataUrl:"{{path('tipdoc_listTipDocGrid')}}",
                                buildSelect: function (data) {
                                            var response = jQuery.parseJSON(data);
                                            //alert(response);
                                            var s = '<select>';
                                            for (var i in response) {
                                                    //alert(response[i].inidtipdoc);
                                                    s += '<option value="' + response[i].txNomDoc + '">' + response[i].txNomDoc + '</option>';
                                            }
                                            //alert(s + "</select>");
                                            return s + "</select>";
                                        }, async:false,                            
                                    }
                            },
                            {name:'txnumdoc',index:'txnumdoc',weight:'50px',search:true,editable:true,editoptions:{weight:'30px', align:'center'}},		
                            {name:'txnomtercero',index:'txnomtercero',weight:'50px',search:true,editable:true,edittype:"select",editoptions:{dataUrl:"{{path('terceros_listTerGrid', {'tipo': '0'})}}",
                                buildSelect: function (data) {
                                            var response = jQuery.parseJSON(data);
                                            //alert(response);
                                            var s = '<select>';
                                            for (var i in response) {
                                                    //alert(response[i].inidtipdoc);
                                                    s += '<option value="' + response[i].txNomTercero + '">' + response[i].txNomTercero + '</option>';
                                            }
                                            //alert(s + "</select>");
                                            return s + "</select>";
                                        }, async:false,                            
                                    }
                            },
                            {name:'dbvalneto',index:'dbvalneto',weight:'50px',search:true,editable:false, formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},		
                            {name:'dbvaliva',index:'dbvaliva',weight:'50px',search:true,editable:false, formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                            {name:'dbtotal',index:'dbvaliva',weight:'50px',search:true,editable:false, formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                            {name:'txcondPago',index:'txcondPago',weight:'50px',search:true,editable:true,editoptions:{align:'center'}},		
                            {name:'fefecha',index:'fefecha',weight:'50px',search:true,editable:true,editoptions:{align:'center'}},
                            {name:'fevencimiento',index:'fevencimiento',weight:'50px',search:true,editable:true,editoptions:{align:'center'}},
                            {name:'txobservaciones',index:'txobservaciones',weight:'50px',search:true,editable:true,editoptions:{align:'center'}},
                            {name:'txnomvendedor',index:'txnomvendedor',weight:'50px',search:true,editable:true,edittype:"select",editoptions:{dataUrl:"{{path('vendedores_listVenGrid')}}", align:'center',
                                buildSelect: function (data) {
                                            var response = jQuery.parseJSON(data);
                                            //alert(response);
                                            var s = '<select>';
                                            for (var i in response) {
                                                    //alert(response[i].inidtipdoc);
                                                    s += '<option value="' + response[i].txNomVendedor + '">' + response[i].txNomVendedor + '</option>';
                                            }
                                            //alert(s + "</select>");
                                            return s + "</select>";
                                        }, async:false,                            
                                    }
                            },
                    ],
                    rowNum:100,
                    rowList:[100,200,300],
                    pager: '#paginacion',
                    sortname: 'id',
                    viewrecords: true,
                    sortorder: "asc",
                    caption:"Documentos",
                    editurl:"{{ path('masdocumentos_guardaMasDocGrid') }}",
                    onSelectRow: function (ids) {

        
                        var vurl="{{ path('masdocumentos_listDetDocGrid', {'piddoc': '1'}) }}";
                        var veurl="{{ path('masdocumentos_guardaDetDocGrid', {'piddoc': '1'}) }}";
                        //alert (vurl);
                        if (ids != null){
                            vurl = vurl.replace('1', ids);
                            veurl = vurl.replace('1', ids);
                        }
                            
        
                         var TDoc = jQuery("#masdoc").jqGrid('getCell', ids, 'txnomdoc');
                         var NDoc = jQuery("#masdoc").jqGrid('getCell', ids, 'txnumdoc');
                         if (ids == null) {
                             ids = 0;
                             if (jQuery("#detdoc").jqGrid('getGridParam', 'records') > 0) {
                                 //alert(ids);

                                 jQuery("#detdoc").jqGrid('setGridParam', { editurl: veurl, url: vurl, page: 1 });
                                 jQuery("#detdoc").jqGrid('setCaption', "Detalle documento--: "  + TDoc + " - " + NDoc )
                                    .trigger('reloadGrid');
                             }
                         } else {

                             //alert("si"+ids);
                             jQuery("#detdoc").jqGrid('setGridParam', { editurl: veurl, url: vurl, page: 1 });
                             jQuery("#detdoc").jqGrid('setCaption',"Detalle documento: " + TDoc + " - " + NDoc )
                                .trigger('reloadGrid');
                         }
                     }                    
            });
            jQuery("#masdoc").hideCol('id');
            jQuery("#masdoc").hideCol('dbvalneto');
            jQuery("#masdoc").hideCol('dbvaliva');
            jQuery("#masdoc").hideCol('dbtotal');

            jQuery("#masdoc").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
            jQuery("#masdoc").jqGrid('navGrid',"#paginacion",{reloadAfterSubmit:true, add: false,edit:false,del:false,search:false});
            jQuery("#masdoc").jqGrid('inlineNav',"#paginacion");
            jQuery("#masdoc").dblclick(function(){
                    jQuery("#masdoc").jqGrid('editGridRow',rowid,{width: 800,reloadAfterSubmit:false}).trigger('reloadGrid');
            });

            //DETALLE
            jQuery("#detdoc").jqGrid({        
                    url:"{{ path('masdocumentos_listDetDocGrid', {'piddoc': '1'}) }}",
                    datatype: "json",
                    width:'50%',
                    colNames:['Id','Id Doc.','Ref.', 'Producto', 'Cantidad','Val. Unitario','Val. Total'],
                    colModel:[
                            {name:'id',index:'id', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'inidmasdocumento',index:'inidmasdocumento', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'txrefinterna',index:'txrefinterna',editable:true,edittype:"select",editoptions:{dataUrl:"{{path('productos_listProGrid', {'pidter': '1'})}}", align:'center',
                                buildSelect: function (data) {
                                            var response = jQuery.parseJSON(data);
                                            //alert(response);
                                            var s = '<select>';
                                            for (var i in response) {
                                                    //alert(response[i].inidtipdoc);
                                                    s += '<option value="' + response[i].txnomproducto + '">' + response[i].txrefinterna + '</option>';
                                            }
                                            //alert(s + "</select>");
                                            return s + "</select>";
                                        }, 
                                                            
                                dataEvents: [{ type:'change',
                                                fn: function(e) {
                                                      $('txnomproducto').val(this.value);
                                                      alert($('txnomproducto').val(this.value));
                                                }}
                                    ]
                                },
                            },
                            {name:'txnomproducto',index:'txnomproducto',editable:true,edittype:"text",editoptions:{readonly: 'readonly'}},
                            {name:'incantidad',index:'incantidad',editable:true,search:true},
                            {name:'dbvalunitario',index:'dbvalunitario',editable:true,search:true,width:"200px", formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                            {name:'dbvaltotal',index:'dbvaltotal',editable:true,search:true,width:"200px", formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                    ],
                    rowNum:1000,
                    rowList:[1000,2000,3000],
                    pager: '#pagered',
                    sortname: 'id',
                    viewrecords: true,
                    sortorder: "asc",
                    caption:"Detalle de documento: XX",
                    editurl:"{{ path('masdocumentos_guardaDetDocGrid', {'piddoc': '1'}) }}"
            });
            jQuery("#detdoc").hideCol('inidmasdocumento');
            jQuery("#detdoc").hideCol('id');
            jQuery("#detdoc").hideCol('idproducto');

            jQuery("#detdoc").jqGrid('navGrid',"#pagered",{add: false,edit:false,del:false,search:false});
            jQuery("#detdoc").jqGrid('inlineNav',"#pagered");

            jQuery("#detdoc").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
        });
        
    </script>
{% endblock %}

{% block main %}

  {{ parent() }}     
  {% block sitecontent %}
        <h1>Documentos</h1>
        <table id="CONTENEDOR" width="100%">
            <tr id="Fila" width="100%">
                <td id="C1"width="40%">
                    <table id="masdoc" ></table>
                    <div id="paginacion" ></div>
                </td>
            </tr>
            <tr id="Fila2" width="100%" >
                <td id="C1" width="60%">
                    <table id="detdoc" ></table>
                    <div id="pagered" ></div>
                </td>
            </tr>
        </table>    
  {% endblock %}
{% endblock %}

