{% extends "InventarioFrontBundle:Default:index.html.twig" %}

{% block head %}
    {{ parent() }}     
    <script type="text/javascript">
        $(document).ready(function(){
            jQuery("#masdoc").jqGrid({        
                    url:"{{ path('masdocumentos_listMasDocGrid') }}",
                    datatype: "json",
                    width:'400px',
                    colNames:['Id','Id. TD', 'Tipo Doc.','Num. Doc.', 'Tercero', 'Val. Neto', 'Val IVA.', 'Val. Total', 'Cond. Pago', 'Fecha', 'Vencimiento', 'Onservaciones', 'Vendedor', 'Id. Vendedor', 'Id. Tercero', ],
                    colModel:[
                            {name:'id',index:'id', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'inidtipdoc',index:'inidtipdoc',search:true,editable:true,editoptions:{size:10}},
                            {name:'txtipdoc',index:'txtipdoc',search:true,editable:true,editoptions:{size:10}},
                            {name:'txnumdoc',index:'txnumdoc',search:true,editable:true,editoptions:{size:10}},		
                            {name:'txnomtercero',index:'txnomtercero',search:true,editable:true,editoptions:{size:10}},		
                            {name:'dbvalneto',index:'dbvalneto',search:true,editable:true,editoptions:{size:10}},		
                            {name:'dbvaliva',index:'dbvaliva',search:true,editable:true,editoptions:{size:10}},		
                            {name:'dbtotal',index:'dbvaliva',search:true,editable:true,editoptions:{size:10}},		
                            {name:'txcondPago',index:'txcondPago',search:true,editable:true,editoptions:{size:10}},		
                            {name:'fefecha',index:'fefecha',search:true,editable:true,editoptions:{size:10}},
                            {name:'fevencimiento',index:'fevencimiento',search:true,editable:true,editoptions:{size:10}},
                            {name:'txobservaciones',index:'txobservaciones',search:true,editable:true,editoptions:{size:10}},
                            {name:'txnomvendedor',index:'txnomvendedor',search:true,editable:true,editoptions:{size:10}},
                            {name:'idvendedor',index:'idvendedor',search:true,editable:true,editoptions:{size:10}},
                            {name:'inidtercero',index:'inidtercero',search:true,editable:true,editoptions:{size:10}},
                    ],
                    rowNum:10,
                    rowList:[10,20,30],
                    pager: '#paginacion',
                    sortname: 'id',
                    viewrecords: true,
                    sortorder: "asc",
                    caption:"Documentos",
                    editurl:"{{ path('masdocumentos_guardaMasDocGrid') }}",
                    onSelectRow: function(id) {
                        var vid=id;
                        var vurl="{{ path('masdocumentos_listDetDocGrid', {'piddoc': '1'}) }}";
                        //alert (vurl);
                        var rowData = jQuery(this).getRowData(id); 
                        var val= rowData['txtipdoc']+" - "+rowData['txnumdoc'];//replace name with you column
                        //alert (val);
                        
                        if (vid != null){
                            vurl = vurl.replace('1', vid);
                        }
                            
                        if(vid == null) {
                            if(jQuery("#detdoc").jqGrid('getGridParam','records') >0 )
                            {
                                jQuery("#detdoc").jqGrid('setGridParam',{url:vurl,page:1});
                                jQuery("#detdoc").jqGrid('setCaption',"Detalle de documento: "+vid+" - "+val)
                                .trigger('reloadGrid');
                            } 
                        } else { 
                            jQuery("#detdoc").jqGrid('setGridParam',{url:vurl,page:1});
                            jQuery("#detdoc").jqGrid('setCaption',"Detalle de documento:  "+vid+" - "+val)
                            .trigger('reloadGrid');			
                        }
                    },
            });
            jQuery("#masdoc").hideCol('id');
            jQuery("#masdoc").hideCol('inidtipdoc');
            jQuery("#masdoc").hideCol('idvendedor');
            jQuery("#masdoc").hideCol('inidtercero');

            jQuery("#masdoc").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
            jQuery("#masdoc").jqGrid('navGrid',"#paginacion",{add: false,edit:false,del:false,search:false});
            jQuery("#masdoc").jqGrid('inlineNav',"#paginacion");

            //DETALLE
            jQuery("#detdoc").jqGrid({        
                    url:"{{ path('masdocumentos_listDetDocGrid', {'piddoc': '1'}) }}",
                    datatype: "json",
                    width:'50%',
                    colNames:['Id','Id Doc.','Ref.', 'Producto','Id. Producto','Cantidad','Val. Unitario','Val. Total'],
                    colModel:[
                            {name:'id',index:'id', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'inidmasdocumento',index:'inidmasdocumento', editable:false,search:true,editoptions:{readonly:true,size:10}},
                            {name:'txrefinterna',index:'txrefinterna',editable:true,search:true,width:"100px"},
                            {name:'txnomproducto',index:'txnomproducto',editable:true,search:true,width:"400px"},
                            {name:'idproducto',index:'idproducto',editable:true,search:true},
                            {name:'incantidad',index:'incantidad',editable:true,search:true},
                            {name:'dbvalunitario',index:'dbvalunitario',editable:true,search:true,width:"200px", formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                            {name:'dbvaltotal',index:'dbvaltotal',editable:true,search:true,width:"200px", formatter:'currency', formatoptions:{decimalSeparator:".", thousandsSeparator: ",", decimalPlaces: 0, prefix: "$ "}},
                    ],
                    rowNum:1000,
                    rowList:[1000,2000,3000],
                    pager: '#pagered',
                    sortname: 'id',
                    viewrecords: true,
                    sortorder: "asc",
                    caption:"Detalle de documento: 1",//,
                //editurl:"someurl.php"
            });
            jQuery("#detdoc").hideCol('inidmasdocumento');
            jQuery("#detdoc").hideCol('id');
            jQuery("#detdoc").hideCol('idproducto');

            jQuery("#detdoc").jqGrid('navGrid',"#pagered",{add: false,edit:false,del:false,search:false});
            jQuery("#detdoc").jqGrid('inlineNav',"#pagered");

            jQuery("#detdoc").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
            $("#bedata").click(function(){
                    jQuery("#detdoc").jqGrid('editGridRow',"new",{width: 800,height:200,reloadAfterSubmit:false}).trigger('reloadGrid');
            });
        });
        
    </script>
{% endblock %}

{% block main %}

  {{ parent() }}     
  {% block sitecontent %}
        <h1>Documentos</h1>
        <table id="CONTENEDOR" width="100%">
            <tr id="Fila" width="100%">
                <td id="C1"width="40%">
                    <table id="masdoc" ></table>
                    <div id="paginacion" ></div>
                </td>
            </tr>
            <tr id="Fila2" width="100%">
                <td id="C1" width="60%">
                    <table id="detdoc" ></table>
                    <div id="pagered" ></div>
                </td>
            </tr>
        </table>    
  {% endblock %}
{% endblock %}

