{% extends "InventarioFrontBundle:Default:plantillaprint.html.twig" %}

{% block sitecontent %}
    <table id="doc_print" background="#FFFFFF" color="#000" border-top="0px" >
        {% for entity in entities %}
            <tr background="#FFFFFF">
                <td background="#FFFFFF" width="150px">{{ entity.incantidad }}</td>
                <td background="#FFFFFF" width="150px">{{ entity.txrefinterna }}</td>
                <td background="#FFFFFF" width="300px">{{ entity.txnomproducto }}</td>
                <td background="#FFFFFF" width="210px">{{ entity.dbvalunitario }}</td>
                <td background="#FFFFFF" width="210px">{{ entity.dbvaltotal }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

