
{% block sitecontent -%}
    <table id="doc_print">
        <tbody>
            cabecera = entities;
        <tr>
            <td>{{ cabecera.txnomcliente }}</td>
            <td>{{ cabecera.txtelefonos }}</td>
        </tr>
        <tr>
            <td>{{ entities.txdireccion }}</td>
        </tr>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.incantidad }}</td>
                <td>{{ entity.txrefinterna }}</td>
                <td>{{ entity.txnomproducto }}</td>
                <td>{{ entity.dbvalunitario }}</td>
                <td>{{ entity.dbvaltotal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
